<!doctype html>
<html lang="fr">
  <head>
    <base href="/" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Reparti'Potes{% endblock %}</title>
    <link href="css/style.css" rel="stylesheet" />
    <script src="js/htmz.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        <a href="./">
          <img src="./favicon.png" alt="Logo" />
          Reparti'Potes
        </a>
      </h1>
    </header>

    <main id="main">
      {% if errors is defined %}
      <div id="errors">
        {% for error in errors %}
        <p class="error">{{ error }}</p>
        {% endfor %}
      </div>
      {% endif %} {% block content %} {% endblock %}
    </main>
    <script src="js/split-storage.js"></script>
  </body>
</html>
