<button id="{{ expense.id }}-button" popovertarget="{{ expense.id }}">Modifier</button>
<article popover id="{{ expense.id }}">
  <form
    action="./expenses/update#main"
    target="htmz"
    class="expense-form"
    method="POST"
  >
    <input type="hidden" name="id" value="{{ expense.id }}" />
    <label>Nom: <input type="text" name="name" value="{{ expense.name }}" /></label>
    <label>Montant: <input type="number" name="amount" value="{{ expense.amount }}" /></label>
    <label>Devise: <input type="text" name="currency" value="{{ expense.currency }}" /></label>
    <label>
      Payé par: 
      <select name="payed_by">
        {% for participant in split.participants %}
        {% let selected = participant == &expense.payed_by %}
        <option 
            value="{{ participant }}"
            {% if selected %}selected{% endif %}
        >{{ participant }}</option>
        {% endfor %}
      </select>
    </label>
    <label>
      Reparti entre: {% for participant in split.participants %}
      {% let checked = expense.payed_for.contains(participant) %}
      <input
        type="checkbox"
        name="payed_for[]"
        value="{{ participant }}"
        {% if checked %}checked{% endif %}
      />
      {{ participant }} {% endfor %}
    </label>
    <label>
      Date:
      <input
        type="datetime-local"
        name="expense_date_display"
        id="expense_date_display"
      />
      <input type="hidden" name="expense_date" id="expense_date" value="0" />
    </label>
    <input type="submit" value="Enregistrer" />
  </form>
</article>
