{% extends "base.html" %}

{% block title %}La Bobine - Nouvelle Bobine{% endblock %}

{% block content %}
<div id="errors">
  {% for error in errors %}
  <p class="error">{{ error }}</p>
  {% endfor %}
</div>

<form action="./splits/new#main" method="post" target="htmz">
  <label> Description: <input type="text" name="description" /> </label>
  <div>
    Participants:
    <input name="participants[]" placeholder="Nom" required />
    <button type="button" id="add-participant">Ajouter un participant</button>
  </div>
  <label>
    Devise par défaut:
    <input type="text" name="default_currency" value="USD" />
  </label>
  <input type="submit" value="Créer" />
</form>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const addParticipantButton = document.getElementById("add-participant");
    addParticipantButton.addEventListener("click", () => {
      const input = document.createElement("input");
      input.name = "participants[]";
      input.placeholder = "Nom";
      input.required = true;
      addParticipantButton.before(input);
    });
  });
</script>
{% endblock %}
