{% extends "base.html" %} {% block title %}La Bobine - {{ split.description }}{%
endblock %} {% block content %}
<h2>{{ split.description }}</h2>
{% for error in errors %}
<p class="error">{{ error }}</p>
{% endfor %}
<div>
  <h3>Code de la bobine: {{ split.id }}</h3>
  <p>
    Partagez ce code avec vos amis pour leur permettre de rejoindre la bobine.
  </p>
  <p>Sinon, vous pouvez aussi utiliser ce lien: <a id="split-link"></a></p>
</div>

<script src="./js/split-link.js"></script>

<div>
  <h3>Participants</h3>
  <ul>
    {% for participant in split.participants %}
    <li>{{ participant }}</li>
    {% endfor %}
  </ul>
  {% include "new_participant_form.html" %}
</div>
<div id="expenses">
  <h3>Dépenses</h3>
  <ul>
    {% for expense in expenses %} {% decl timestamp %} {% match
    expense.expense_date.duration_since(SystemTime::UNIX_EPOCH) %} {% when Ok
    with (duration) %} {% let timestamp = duration.as_secs_f32() %} {% else %}
    {% let timestamp = 0.0 %} {% endmatch %}
    <li>
      <span class="expense-date-display" data-timestamp="{{ timestamp }}"></span> -
      {{expense.name }} - {{ expense.payed_by }} a payé {{ expense.amount }}{{
      expense.currency }} pour {{ expense.payed_for | join(", ") }}
    </li>
    {% include "expense_form.html" %} {% endfor %}
  </ul>
  
  {% include "new_expense_form.html" %}

  <script src="./js/expense-date.js"></script>

  <h3>Soldes</h3>
  <ul>
    {% for balance in balances %}
    <li>
      {{ balance.debtor }} doit {{ balance.amount | fmt("{:.2}") }}{{
      balance.currency }} à {{ balance.creditor }}
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
