{% extends "base.html" %}

{% block title %}Reparti'Potes - {{ split.description }}{% endblock %}

{% block content %}
  <h2>
    {{ split.description }}
    {% include "components/share_split.html" %}
  </h2>

  <div id="split-details">
    <div id="participants">
      <h3>Participants</h3>
      <ul>
        {% for participant in split.participants %}<li>{{ participant }}</li>{% endfor %}
      </ul>
      {% include "components/new_participant_form.html" %}
    </div>

    <div id="expenses">
      <h3>Dépenses</h3>
      <dl>
        {% for expense in expenses %} {% include "components/expense.html" %} {% endfor %}
      </dl>
      {% include "components/expense_form.html" %}
      <script src="./js/expense-date.js"></script>
    </div>

    <div id="balances">
      <h3>Soldes</h3>
      <ul>
        {% for balance in balances %}
          {% include "components/balance.html" %}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
