{% decl buttonText %}
{% decl submitText %}
{% decl action %}
{% decl expenseId %}
{% decl currency %}
{% decl payedBy %}
{% decl payedFor %}
{% decl timestamp %}
{% decl isAmountSplit %}

{% if expense is defined %}
  {% let buttonText = "Modifier" %}
  {% let submitText = "Enregistrer" %}
  {% let action = "./expenses/update#main" %}
  {% let expenseId = expense.id %}
  {% let currency = expense.original_currency %}
  {% let payedBy = expense.payed_by %}
  {% let payedFor = expense.payed_for %}
  {% let isAmountSplit = expense.split_method.is_amounts() %}
  {% match expense.expense_date.duration_since(SystemTime::UNIX_EPOCH) %}
    {% when Ok with (duration) %}
      {% let timestamp = duration.as_secs_f32() %}
    {% else %}
      {% let timestamp = 0.0 %}
  {% endmatch %}
{% else %}
  {% let buttonText = "Nouvelle dépense" %}
  {% let submitText = "Ajouter la dépense" %}
  {% let action = "./expenses/new#main" %}
  {% let expenseId = "new-expense" %}
  {% let currency = split.default_currency %}
  {% let payedBy = "" %}
  {% let payedFor = split.participants %}
  {% let timestamp = 0.0 %}
  {% let isAmountSplit = false %}
{% endif %}

<button id="{{ expenseId }}-button"
        popovertarget="{{ expenseId }}"
        {% if expense is defined %}class="ghost"{% endif %}>{{ buttonText }}</button>
<article popover id="{{ expenseId }}">
  <form action="{{ action }}"
        target="htmz"
        method="post"
        class="expense-form"      
  >
    {% if expense is defined %}
    <input type="hidden" name="id" value="{{ expenseId }}" />
    {% endif %}
    <input type="hidden" name="split_id" value="{{ split.id }}" />
    <label>
      Nom:
      <input 
        type="text"
        name="name"
        {% if expense is defined %}value="{{ expense.name }}"{% endif %}
        placeholder="Nouvelle dépense"
        required 
      />
    </label>
    <label>
      Montant:
      <input 
        type="number"
        name="amount"
        step="0.01"
        {% if expense is defined %}value="{{ expense.original_amount }}"{% endif %}
        placeholder="Montant" 
        required
      />
    </label>
    <label>
      <script src="./js/currency-select.js"></script>
      Devise: <currency-select data-name="currency" data-selected="{{ currency }}"></currency-select>
    </label>
    <label>
      Payé par:
      <select name="payed_by" required>
        {% for participant in split.participants %}
          {% let selected = participant == payedBy %}
          <option value="{{ participant }}" {% if selected %}selected="selected"{% endif %}>{{ participant }}</option>
        {% endfor %}
      </select>
    </label>
    <label>
      Méthode de répartition:
      <select name="split_method" required>
        <option value="Evenly" {% if !isAmountSplit %}selected="selected"{% endif %}>Equitable</option>
        <option value="Amounts" {% if isAmountSplit %}selected="selected"{% endif %}>Par montant</option>
      </select>
    </label>
    <b>
      Reparti entre:
      {% for participant in split.participants %}
        <div class="participant-amount-row">
          {% let checked = payedFor.contains(participant) %}
          <label class="checkbox-label">
            <input type="checkbox"
                    name="payed_for[]"
                    value="{{ participant }}"
                    {% if checked %}checked{% endif %} />
            <span>{{ participant }}</span>
          </label>
        
          <input
            type="number"
            name="amounts_value[]"
            class="participant-amount-input"
            min="0"
            step="0.01"
            {% if expense is defined %}
              value="{{ expense.amount_for(participant) }}"
            {% else %}
              value="0"
            {% endif %}
            {% if !isAmountSplit || !checked %}disabled{% endif %}
          />
        </div>
      {% endfor %}
    </b>
    <label>
      Date:
      <input type="datetime-local" name="expense_date_input" required />
      <input type="hidden" name="expense_date" value="{{ timestamp }}" />
    </label>

    <input type="submit" value="{{ submitText }}" />
  </form>

  {% if expense is defined %}
  <form 
    action="./expenses/delete" 
    onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette dépense ?');"
    style="float: inline-end; margin-top: -24px;"
  >
    <input type="hidden" name="id" value="{{ expenseId }}" />
    <input type="hidden" name="split_id" value="{{ split.id }}" />
    <input class="delete" type="submit" value="Supprimer" />
  </form>
  {% endif %}
</article>