{% import "components/currency_select.html" as select %}

<button
  style="margin-bottom: 1rem"
  id="new-split-button"
  popovertarget="new-split"
>
  Nouveau reparti'
</button>
<article popover id="new-split">
  <form action="./splits/new#main" method="post" target="htmz">
    <label> Description: <input type="text" name="description" required /> </label>
    <label>
      Participants:
      <input type="text" name="participants[]" placeholder="Nom" required />
      <button type="button" id="add-participant">Ajouter un participant</button>
    </label>
    <label>
      Devise par défaut:
      {{ select::currency_select("default_currency", "EUR") }}
    </label>
    <input type="submit" value="Créer" />
  </form>

  <script src="./js/new-split.js"></script>
</article>
