<button id="split-info-button" popovertarget="split-info" style="margin-left: 0.5rem; position: relative; top: -0.125rem;">Partager</button>
<article popover id="split-info">
  <p>
    Partagez ce lien avec vos amis pour leur permettre de rejoindre la
    bobine:<br />
    <a id="split-link"></a>
    <button id="copy-split-link">Copier le lien</button>
  </p>
  <span>
    Vous pouvez également utiliser ce code pour rejoindre la bobine:<br />
    <b>{{ split.id }}</b>
    <button id="copy-split-code" data-code="{{ split.id }}">
      Copier le code
    </button>
  </span>
  <script src="./js/split-link.js"></script>
</article>
